<style>

	html, body {
		box-sizing: border-box;
	}
	*{
		box-sizing: inherit;
	}
	html, body, h1, h2, h3, h4, h5, h6{
		padding: 0;
		margin: 0;
	}



body{
	font-family: 'Share Tech Mono',;
	font-size: 36px;
	color: white;
	text-align: center;
	margin: auto 0;
}

html { 
  		background: url(images/inside_inkwell.jpg) no-repeat center center fixed; 
  		-webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;
	}
.brand {
	position: relative;
	max-width: 300px;
	height: auto;
	margin: auto 0;
	padding-top: 25px;

 }
.buttons{
	margin: auto 0;

}

.buttons li {
	position: relative;
	padding: 20px 75px 20px 75px;
	display: inline-block;
	border: 2px solid white; 
	background-color: black;
	margin-bottom: 20px;	
	

}

@media screen and (min-width:600px){ .brand
 } 
    .buttons {
        text-align:center;
         margin: auto 0;
    }
    .buttons li {
        display:inline-block;
        float:center;
        margin-bottom: 20px;	
    }
}


</style>
