
<style>

html, body {
		box-sizing: border-box;
	}
	*{
		box-sizing: inherit;
	}
	html, body, h1, h2, h3, h4, h5, h6{
		padding: 0;
		margin: 0;
	}
	.clearfix{
		overflow: auto;
	}

body {

	font-family: 'Share Tech Mono',;
	font-size: 20px;
	color: white;
	text-align: center;
	margin: auto 0;
}
 p{
 	background-color: rgba(0, 0, 0, 0.7);
 	padding: 10px;
 


 
 }


html { 
  		background: url(images/inside_inkwell.jpg) no-repeat center center fixed; 
  		-webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;
	}
.container{
	width:75%;
 	margin: 0 auto;
	}
header{
	position: relative;
	margin: auto 0;
}
img {
	position: relative;
	margin: auto 0;
	padding-top: 10px;
	width: 300px;
	height: auto;


 }



.menu{
	margin: auto 0;
}

.menu li {
	margin: auto 0;
	position: relative;
	display: inline-block;
	padding-bottom:20px;
  	padding-top:20px;
  	padding-right:10px;
  	padding-left:10px;
	border: 2px solid white; 
	background-color: black;
	margin-bottom: 20px;
	margin-right: 10px;

}

a{
	text-decoration: none;
	color: white;
}

@media screen and (min-width:320px) {.menu li { width:75%;}
p{
		margin-left: 50px;
		margin-right: 50px;
}  
  


}
@media screen and (min-width:600px) {.menu li { width:75%;}
p{
		margin-left: 100px;
 	margin-right: 100px;
}  
  
}
@media screen and (min-width:700px) {.menu li { width:40%;}
p{
		margin-left: 200px;
 	margin-right: 200px;
}  
  
}
@media screen and (min-width:800px) {.menu li { width:40%;}
p{
		margin-left: 200px;
 	margin-right: 200px;
}  
  
}
@media screen and (min-width:900px) {.menu li { width:20%; }
p{
		margin-left: 300px;
 	margin-right: 300px;
} 
  
}

@media screen and (min-width:1000px) {.menu li { width:20%;}
p{
		margin-left: 300px;
 	margin-right: 300px;
} 
  
}








</style>
